
body{
    font-weight: bold;
    color: white;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    padding: 25px 30px;
    background-color: rgb(239, 10, 110);
}

menu{
    padding: 15px 30px;
    background-color: rgb(172, 12, 81);
}
.left-asides, main ,.aside-3{
    float: left;
}


.aside-1{
    padding: 15px 30px;
    background-color: rgb(239, 10, 110);
    height: 10vh;
}

.left-asides,.aside-3{
    width: 25%;
}

.aside-3{
    width: 5%;
}

.aside-2{
    padding: 15px 30px;
    background-color: rgb(239, 10, 110);
    margin-top: 10px;
    height: 20vh;
}
.container{
    display: flex;
    justify-content: center;
}

main{
    width: 60%;
    padding: 0 30px;
    background-color: rgb(239, 10, 110);
    margin-left: 20px;
    height: 70vh;
}
.aside-3{
    margin-left: 40px;
    writing-mode: vertical-rl;
    text-align: center;
    text-orientation: upright;
    float: right;
    margin-right: 0;
    padding: 15px 30px;
    background-color: rgb(239, 10, 110);
    height: 36vh;
}
section{
    background-color:  rgb(233, 57, 133);
    padding: 20px 60px;
    margin-top: 20px;
    height: 25%;
}

footer{
    margin: 10px 0;
    padding: 20px 30px;
    width: 96%;
    background-color: rgb(172, 12, 81);
}