body{
    background-color: rgb(231, 231, 231);
}

header,footer{
    text-align: center;
}
main{
    margin: 30px 70px;
}
.box{
    text-align: center;
    border: 2px solid gray;
    border-radius: 20px;
    display: inline-block;
    margin: 20px;
}
.box img{
    width: 70%;
    margin: 20px;
}
.box p{
    font-size: 20px;
    font-weight: bold;
}

